.sliderTextComponent {
  position: relative;
  padding-bottom: 0px;
  overflow-x: hidden;
}

.sliderTextContainer {
  padding: 0;
  width: 400%;
  display: flex;
  position: relative;
  left: 0%;
}

.sliderText {
  padding: 72px 24px;
  width: 100%;
}

.introTitle {
  font-weight: 600;
  font-size: 2.25em;
  padding-bottom: 18px;
}

.introText {
  color: var(--Gray);
  line-height: 20px;
  font-size: 1em;
  padding-bottom: 60px;
}

.shopLinkContainer {
  position: absolute;
  bottom: 72px;
}

.shopLink {
  color: #000;
  text-decoration: none;
  display: flex;
  letter-spacing: 12px;
  font-weight: 500;
}

.shopLink:hover {
  color: var(--Gray);
  cursor: pointer;
}

.shopLink:hover  .arrowPath {
  fill: var(--Gray);
  cursor: pointer;
}

.arrowContainer {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

@media screen and (min-width: 1440px) { 
  .sliderTextComponent {
    width: 41.667%;
    height: 66.75%;
  }
  
  .sliderTextContainer {
    height: auto;
  }
}
